* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.header-container {
  background-color: #1f2937;
  justify-content: center;
  padding-bottom: 8%;
  padding-left: 205px;
  padding-top: 1%;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: end;
}

.home,
.about,
.blogs,
.contact {
  margin-left: 20px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.menu .logo {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.titles-container {
  background-color: #1f2937;
  padding-top: 10px;
  display: flex;
}

.titles {
  width: 1500px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding-left: 205px;
  margin-bottom: 1%;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
  padding-left: 205px;
  margin-bottom: 1%;
}

.signup button {
  font-size: 18px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 7px;
  cursor: pointer;

  margin-left: 205px;
  margin-bottom: 1%;

  padding: 10px 40px;

  display: flex;
}

.signup button:hover {
  background-color: #76aeed;
}

.signup button:active {
  background-color: #407fc7;
}

.titles .image1 {
  flex: 1;
}

.image1 {
  padding-bottom: 1%;
  margin-right: 410px;
}

.about-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 150px;
}

.category-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.category {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.car img {
  width: 100%;
  max-height: 100px;
}

.car-name {
  font-weight: bold;
  margin: 10px 0;
}

.car-price {
  color: #007bff;
  margin: 5px 0;
}

.car-rating {
  font-size: 16px;
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;

  padding: 38px;
}
