* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}

.header-container {
  background-color: aqua;
}

.available-container {
  background-color: blue;
}

.footer-container {
  background-color: rgb(122, 23, 23);
}
